
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href=".">ECHO</a>
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link text-white" href="/connection">Se connecter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/register">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/logout">Déconnexion</a>
				</li>
			</ul>
	</div>
</nav>
