<div id="accroche">Connection</div>
	<div>
        <form method="post" action="http://localhost:8000/app">
            <input type="text" name="email" id="email">
            <input type="password" name="password" id="password">
        </form>
	</div>
