
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
<div id="accroche" style="font-weight: bold; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Bienvenue sur notre Framework</br> ECHO </div>

	<div>
		<p id="message" style="font-weight: bold; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
			Éventuellement mettre un message ou un texte ici
		</p>
	</div>
</div>