<div class="container-fluid mt-3">
	<div class="col-lg-4 col-sm-2 "></div>
	<div class="row justify-content-center">
		<div class="col-lg-4 col-sm-8 ">
			<h1 class="text-center mb-5">ECHO</h1>
		</div>
		<div class="row mb-3">
			<p class="text-center mb-2">Bienvenue sur notre Framework</p>
			<h2 class="text-center mb-3">{{ user }} </h2>
		</div>
		
	</div>
	<div class="col-lg-4 col-sm-2 "></div>
</div>	
