<html>
	<body>
		<form method="post" action="/register">
			<ul>
				<ol><label for="mail">Adresse mail : </label><input type="text" name="mail"></ol>
				<ol><label for="pseudo"></label> Nom d'utilisateur : <input type="text" name="pseudo"></ol>
				<ol><label for="mdp">Mot de passe : </label><input type="text" name="mdp"></ol>
				<ol><label for="mdpConfirm">Confirmer le mot de passe : </label><input type="text" name="mdpConfirm	"></ol>
				<ol><button type="submit">S'inscrire</button></ol>
			</ul>
		</form>
	</body>
</html>