<html>
	<body>
		<form method="post" action="/register">
			<ul>
				<ol><label for="email">Adresse mail : </label><input type="mail" name="email"></ol>
				<ol><label for="username"></label> Nom d'utilisateur : <input type="text" name="username"></ol>
				<ol><label for="mdp">Mot de passe : </label><input type="password" name="mdp"></ol>
				<ol><label for="mdpConfirm">Confirmer le mot de passe : </label><input type="password" name="mdpConfirm"></ol>
				<ol><button type="submit">S'inscrire</button></ol>
			</ul>
		</form>
	</body>
</html>