{{!-- Ce fichier contien le squelette html des pages de l'application --}}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
	</head>
	<body style="display: flex; flex-direction: column; align-items:center; justify-content: center; background-color: rgb(198, 241, 200);">
		{{{ body }}}
	</body>
</html>